body{
    font-size: 25px;
}
p{
    text-align: center;
    margin-bottom: 20px;
}

/*@font-face {*/
    /*font-family: "PuHuiTi";*/
    /*src: url("./fonts/Alibaba-PuHuiTi-Regular.ttf") format("truetype");*/
/*}*/
/*@font-face {*/
    /*font-family: "SourceHanSansCN";*/
    /*src: url("./fonts/SourceHanSansCN-Normal.ttf") format("truetype");*/
/*}*/

@font-face {
    font-family: pBold;
    src: url("font_txt/ping-Bold.ttf") format("truetype")
}

@font-face {
    font-family: pHeavy;
    src: url("font_txt/Alibaba-PuHuiTi-Heavy.ttf") format("truetype")
}

@font-face {
    font-family: pLight;
    src: url("font_txt/Alibaba-PuHuiTi-Light.ttf")
}

@font-face {
    font-family: pMedium;
    src: url("font_txt/Alibaba-PuHuiTi-Medium.ttf")
}
@font-face {
    font-family: pRegular;
    src: url("font_txt/Alibaba-PuHuiTi-Regular2.ttf") format("truetype")
}
@font-face {
    font-family: ppl;
    src: url("font_txt/PINGFANG LIGHT.TTF") format("truetype")
}


.ph1{
     font-family: pBold;
     color:#f00;
 }

.ph2{
    font-family: pHeavy;
    color:#000;
}
.ph3{
    font-family: pLight;
    color:#f00;
}

.ph4{
    font-family: pMedium;
    color:#f00;
}

.ph5{
    font-family: pRegular;
    color:#f00;
}

.ph6{
    font-family: ppl;
    color:#000;
}
